kukalib/temp.py
.streamlit/secrets.toml
result.csv
.vscode/launch.json
*.pyc
*.pyc
*.pyc
*.pyc
kukalib/__pycache__
kukalib/__pycache__/cardcrop.cpython-39.pyc
kukalib/__pycache__/cardcrop.cpython-39.pyc
.svn
.vs
